fastapi==0.136.1
langchain_classic==1.0.7
langchain_community==0.4.1
langchain_core==1.4.0
langchain_groq==1.1.2
langchain_huggingface==1.2.2
langchain_mongodb==0.11.0
langchain_pinecone==0.2.13
pandas==3.0.3
pinecone==9.0.0
pydantic==2.13.4
python-dotenv==1.2.2
Requests==2.34.2
streamlit==1.57.0
uvicorn
sentence-transformers