fastapi
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-mongodb
langchain-pinecone
pandas
pinecone
pydantic
python-dotenv
requests
streamlit
uvicorn
sentence-transformers